<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.neu.madcourse.austinwalker">

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="Austin Walker"
        android:roundIcon="@drawable/icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".AboutActivity" />
        <activity
            android:name=".DictionaryActivity"
            android:label="@string/dictionary_activity" />
        <activity
            android:name=".CreditsActivity"
            android:label="Acknowledgments" />
        <activity
            android:name=".scroggle.WordGameMenuActivity"
            android:label="Scroggle" />
        <activity
            android:name=".scroggle.WordGameActivity"
            android:configChanges="orientation"
            android:label="Scroggle"
            android:screenOrientation="portrait" />
        <activity
            android:name=".scroggle.LeaderboardActivity"
            android:label="Scores" />
        <activity
            android:name=".treble.MusicGameActivity"
            android:label="Protect the Clef"
            android:noHistory="true" />
        <activity
            android:name=".treble.MusicGameMenuActivity"
            android:label="Protect the Clef" />
        <activity
            android:name=".treble.MusicGameLevelSelectActivity"
            android:label="Choose a Level"
            android:noHistory="true" />
    </application>
</manifest>
